/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #ffffff; }

/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #ffffff;
  border: .05rem solid #ffffff; }



/*
 * Header
 */




.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #ffffff;
  border-bottom-color: #ffffff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

    .masthead-brand {
      margin-bottom: 5rem; }

/*
 * Cover
 */
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

  body {
    color: #ffffff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    background-image: url("../images/background4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
   }
